-e git+https://github.com/skellet0r/brownie@fix/banteg/multicall#egg=eth-brownie
CacheControl
black
fake_useragent
flake8
isort
loguru
numpy
pandas
pip-tools
pre-commit
requests[security,socks]
retry
stem
